:root {
  --settings-padding: 24px;
}
#account-page {
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  height: 50svh;
  width: 100%;
  background-color: var(--secondary-bg-color);
  padding: 24px;
  border-radius: 7px;
}

#account-page-header,
#heading-manage,
#heading-manage-furname,
#heading-manage-id {
  text-align: start;
}

#account-page h4 {
  font-size: 0.9rem;
  text-align: start;
}

#user-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: var(--settings-padding);
}

.manage-account-btns {
  margin-top: auto;
  display: flex;
  gap: 24px;
}
.manage-account-btns button {
  width: 200px;
}

.danger-zone {
  padding: var(--settings-padding);
}
