#account-page {
  display: flex;
  flex-direction: column;
  height: 50svh;
  width: 100%;
  background-color: rgba(102, 51, 153, 0.048);
  padding: 24px;
}

#account-page-header,
#heading-manage,
#heading-manage-furname,
#heading-manage-id {
  text-align: start;
}

#account-page h4 {
  font-size: 0.9rem;
  text-align: start;
}

#user-details {
  padding: 12px;
}
