#add-con {
  background-color: #0c0c0c;
  border-radius: 6px;
  width: 490px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px #ff005e;
}

#add-con section {
  display: flex;
  justify-content: center;
  gap: 30px;
}
