.convention-card {
  display: flex;
  width: 100%;
  padding: 24px;
  background-color: var(--secondary-bg-color);
  transition: 0.2s;
  /* background-color: gray; */
}
.convention-card:hover {
  background-color: var(--main-hover-color);
  cursor: pointer;
}

.convention-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  aspect-ratio: 1;
  /* background-color: white; */
}

.convention-logo img {
  width: 100%;
}

.convention-info {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.info-prefix {
  font-style: italic;
  font-weight: 500;
}
