form {
  padding: 32px;
  background-color: #0c0c0c;
  border-radius: 6px;
  width: 390px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px #ff005e;
}

#form-main {
  min-height: 60%;
  display: flex;
  flex-direction: column;
}

#inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ticket-price {
  display: flex;
  justify-content: center;
  gap: 12px;
}

#ticket-price label {
  width: fit-content;
}

#ticket-price input {
  width: 100px;
}

#add-con section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#add-names,
#add-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

#organizer-details {
  display: flex;
  text-align: start;
  align-content: center;
  flex-direction: column;
  gap: 12px;
}

#organizer-details button {
  width: 200px;
}

.error {
  border: solid 2px yellow;
}

input.picker[type="date"] {
  position: relative;
}

input.picker[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  color: transparent;
  background: transparent;
}

#pagination-buttons {
  margin-top: auto;
}

#form-pagination {
  padding: 16px;
  gap: 5px !important;
}

.pagination-dot.current-dot {
  background-color: #e8a4ff;
}

.pagination-dot {
  height: 10px;
  aspect-ratio: 1;
  background-color: #ff005e;
  border-radius: 100%;
}
