form {
  padding: 32px;
  background-color: #0c0c0c;
  border-radius: 6px;
  width: 490px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px #ff005e;
}

#inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add-con section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#add-names,
#add-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;

  border: solid yellow 1px;
}

#organizer-details {
  display: flex;
  text-align: start;
  align-content: center;
  flex-direction: column;
  gap: 12px;
}

#organizer-details button {
  width: 200px;
}
