#reset-password {
  background-color: var(--main-accent-color);
  padding: 72px;
  border-radius: 24px;
  height: 50svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

#reset-password h2 {
  padding-bottom: 42px;
}

#reset-password .input-container {
  flex-direction: row;
}
