#signup,
#login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;

  align-items: center;

  background-color: rgba(75, 176, 244, 0.604);
  border: solid 2px rgb(21, 112, 231);
  border-radius: 20px;

  width: 50vw;
}

#signup section,
#login section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#signup *,
#login * {
  width: 80%;
}
#signup-inputs,
#login-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#signup-inputs input,
#login-inputs input {
  border-radius: 12px;
  border: solid 1px;
  height: 24px;
  padding: 10px;
  background-color: white;
  color: black;
}
#signup-buttons,
#login-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
