#convention-list-cont {
  background-color: var(--main-accent-color);
  width: 100%;
  min-height: 420px;
  height: fit-content;
  display: grid;
  padding: 32px 0;
  border-radius: 0 25px 25px 0;
}

#convention-list {
  list-style: none;
  width: 100%;

  display: flex;
  flex-direction: column;
  padding: 32px 0;
  gap: 48px;
  grid-template-rows: 300px;
  grid-auto-rows: 300px;
  border-radius: 0 25px 25px 0;
}

.convention-card {
  height: 300px;
}

#spots-filter {
  width: 400px;
  display: flex;
  gap: 12px;
}

#total-spots-input {
  padding: 4px;
  width: 60px;
}

#filter-title {
  letter-spacing: 0.5rem;
  text-align: center;
}

#filter-options {
  display: flex;
  flex-direction: column;
}

#filter-buttons {
  display: flex;
  padding: 24px 0;
  gap: 12px;
}

#filter-options input {
  border: solid 0px black;
  border-radius: 7px;
}
