.list-item {
  display: flex;
      padding: "24px",
  justify-content: space-between;
  /* background-color: blue; */
}

.list-item-text {
  text-align: start;
  justify-self: start;
  width: 70%;
  max-width: 70%;
  
}