#add-con {
  background-color: var(--secondary-bg-color);
  padding: 48px;
  border-radius: 12px;
  height: fit-content;
  width: 60%;
  max-width: 600px;
  min-width: 400px;
}
#add-con h2 {
  color: white;
}
#add-con,
#add-con-inputs {
  gap: 12px;
  display: flex;
  flex-direction: column;
}
#add-con-inputs input {
  padding: 12px;
  color: black;

  height: 48px;
  background-color: whitesmoke;
  border: solid 1px;
  border-radius: 10px;
}
#add-con-inputs input[type="date"] {
  width: 60%;
  accent-color: black;
  margin-right: -0.35em;
  cursor: text;
}
#add-con-inputs input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  background-color: black;
  border-radius: 100%;
}
#date-select {
  text-align: start;
  gap: 6px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}
#date-select label {
  display: flex;
  justify-content: start;
  align-items: center;
}
.input-cont {
  padding: 6px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#buttons {
  height: 100%;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
#buttons button {
  background-color: var(--secondary-accent-color);
  width: 120px;
  height: 48px;
  border: solid 1px;
  transition: 0.2s;
}
#buttons button:hover {
  transform: translate(1px, -1px) rotate(-1deg) scale(1.1);
}
#add-con-btn:hover {
  background-color: green;
}
#clear-con-btn:hover {
  background-color: red;
}
