#convention-list-cont {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 48px;
  gap: 12px;
}

#convention-list {
  background-color: var(--secondary-bg-color);
  width: 80%;
  height: fit-content;
  display: grid;
  padding: 32px 0;
  gap: 48px;
  grid-template-rows: 300px;
  grid-auto-rows: 300px;
  border-radius: 0 25px 0 0;
}

#convention-list-filter {
  border-radius: 25px 0 0 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  text-align: start;
  background: rgb(9, 8, 10);
  background: linear-gradient(
    0deg,
    rgba(9, 8, 10, 1) 50%,
    rgba(24, 7, 36, 1) 100%
  );
  width: 500px;
}
#filter-title {
  letter-spacing: 0.5rem;
  text-align: center;
}
#filter-options {
  display: flex;
  flex-direction: column;
}
