.convention-card {
  display: flex;
  flex-direction: column;
  padding: 18px;
  width: 100%;
  background-color: rgb(54, 8, 65);
}

.convention-logo {
  align-self: center;
  width: 250px;
}

.convention-logo img {
  width: 100%;
}
