.convention-card {
  display: flex;
  width: 100%;
  padding: 24px;
  background-color: var(--secondary-accent-color);
}

.convention-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  aspect-ratio: 1;
}

.convention-logo img {
  width: 100%;
}

.convention-info {
  display: flex;
  flex-direction: column;
  text-align: start;
}
