footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  background-color: var(--main-accent-color);
  gap: 48px;
}

#socials {
  display: flex;
  list-style: none;
  gap: 12px;
}
