header {
  background-color: var(--main-accent-color);
  display: flex;
  padding: 12px;
  height: 70px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

#header-home {
  margin-right: auto;
}

header nav {
  display: flex;
  gap: 12px;
}

#logo-container {
  padding: 0 2rem;
}

#logo-container,
#logo {
  height: 100%;
}

#logo {
  scale: 1.3;
}
