header {
  display: flex;
  padding: 12px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
#header-home {
  margin-right: auto;
}
header nav {
  display: flex;
  gap: 12px;
}
