#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100svh;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  height: 100svh;
}
#convention-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
