#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100svh;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  height: 100svh;
  overflow-x: hidden;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
header {
  padding: 24px;
}

#header-tag {
  font-size: 3rem;
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}
