:root {
  --main-bg-color: #00000069;
  --main-accent-color: #fc6c844b;
  --main-border-color: #ffffff83;
  --main-hover-color: rgb(119, 10, 75);
  --main-checked-color: rgb(119, 10, 75);
  --main-button-color: #000000;
  --main-button-border-color: rgb(255, 255, 255);

  --main-font-color: #ffffff;
  --main-font-size: 1rem;

  --input-font-color: #c0c0c0;
  --input-active-font-color: #f0e4e4;

  --secondary-bg-color: #ffffff09;
  --secondary-accent-color: #000000;

  /* MUI INPUT COLOR */
  --TextField-brandBorderColor: #ffffff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--main-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Mui Input  */
/* ///// Notched Base  */
.MuiOutlinedInput-notchedOutline {
  border: solid 1px var(--main-border-color) !important;
}

/* ///// Inbut Label Base */
.MuiInputLabel-outlined span {
  color: var(--input-font-color);
}

/* /////  Focused input */
.MuiInputLabel-outlined:has(+ .Mui-focused) span {
  color: var(--input-active-font-color) !important;
}

input {
  color: rgb(255, 255, 255) !important;
  background-color: #0000003f !important;
}

* {
  font-size: var(--main-font-size);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: none;
}

a:hover {
  color: #8e91ce;
}

ul {
  list-style: none;
  text-align: start;
}

button {
  width: 134px;
  background-color: var(--main-button-color);
  border: solid 1px var(--main-button-border-color);
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: 0.15s;
}

.red-btn {
  background-color: red;
  border-color: black;
}
.red-btn:disabled {
  background-color: rgba(255, 0, 0, 0.425);
}

.green-btn {
  background-color: green;
}

.orange-btn {
  background-color: orange;
}

label {
  width: 200px;
  text-align: start;
}

input,
textarea {
  width: 100%;
  height: 24px;
  background-color: white;
  border: solid white;
  border-radius: 12px;
  color: black;
  padding: 0 12px;
}

textarea {
  resize: vertical;
  height: 100px;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  gap: 12px;
  /* padding: 12px; */
}

.input-container-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 4px;
}

.input-container-row button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
}

.input-container button {
  width: 100%;
}

body {
  display: flex;
  place-items: center;
  width: 100vw;
  min-width: 320px;
  min-height: 100svh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  border-color: var(--main-hover-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.nav-button {
  font-size: 28px;
  border: none;
  background: rgba(0, 0, 0, 0);
  width: fit-content;
  padding: 0;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
#kofi-container {
  height: 100%;
  width: 100%;
}

.alert {
  align-self: center;
}

#wipAlert {
  position: absolute;
  width: 100vw;
  height: 100svh;
  min-width: 100%;
  min-height: 100%;
  z-index: 999;
  text-align: start;
  background-color: rgb(56, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20%;
  /* overflow: none; */
  font-size: 1.4rem;
  transition: 200s;
}

#wipAlert a {
  color: #7289da;
}

#wipAlert a:hover {
  cursor: pointer;
  color: #f1f8f0;
}

#wipAlert button {
  margin: 24px 0;
  background-color: yellow;
  color: black;
  border: solid 2px black;
  transition: 0.2s;
}

#wipAlert button:hover {
  margin: 24px 0;
  background-color: yellow;
  width: 20%;
}

#wipAlert img {
  align-self: center;
  width: 30%;
  aspect-ratio: 1;
}

#loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.loader-text {
  letter-spacing: 0.1rem;
}

.loader {
  width: 100px;
  aspect-ratio: 1;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;

  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  opacity: 0;
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
